/* head clearance for bootstrap navbar */
body {
    padding-top: 60px;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

a.external {
    color: blue;
}

a.external:visited {
    color: purple;
}

/* tables */
table a {
    display: inline;
}

/* footer--currently unused */
footer {
    background-color: rgb(245,245,245);
    padding: 30px 0px;
    margin-top: 70px;
}

/* model_view aka overview */

/* topic_view */

#topic_words a {
    font-size: 1em;
}

/* topic_plot */

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* horizontal grid lines */
.axis .minor line {
    stroke: #ddd;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/* hide line on y axis */
.axis.y path.domain {
    display: none;
}

rect.topic_proportion {
    fill: black;
}

/* word_view */

/* doc_view */

/* bib_view */

#bib_view a {
    display: block;
    line-height: 1.33em;
}

#bib_view nav a {
    display: inline;
    padding-right: 0.5em;
    font-size: 0.75em;
}

#bib_view #bib_main a {
    color: black;
}

/* about_view */

#about_view div#about_browser {
    padding-top: 5ex;
    font-style: italic;
}
