/* head clearance for bootstrap navbar */
body {
    padding-top: 60px;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

a.external {
    color: blue;
}

a.external:visited {
    color: purple;
}

/* footer--currently unused */
footer {
    background-color: rgb(245,245,245);
    padding: 30px 0px;
    margin-top: 70px;
}

/* model_view aka overview */

#model_view a {
    display: block;
    line-height: 1.5em;
}


/* topic_view */

#topic_words a {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
}

#topic_docs a {
    display: block;
    line-height: 1.5em;
}

/* word_view */

#word_view a {
    display: block;
    line-height: 1.5em;
}

/* doc_view */

#doc_view #doc_topics a {
    display: block;
    line-height: 1.5em;
}

/* bib_view */

#bib_view a {
    display: block;
    line-height: 1.33em;
}

#bib_view nav a {
    display: inline;
    padding-right: 0.5em;
    font-size: 0.75em;
}

#bib_view #bib_main a {
    color: black;
}
